/* CSS declarations go here */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding:0;
  margin: 0;
}


body {
  font-family: sans-serif;
  font-size: 16px;
  background: #888;
}
.wrapper{
  background: #888;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 5px;
}

header {
  padding: 20px 15px 15px 15px;
  position: relative;
}

h1 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

.twitterForm input[type="text"] {
  padding: 10px;
  background: transparent;
  border: none;
  width: 80%;
  font-size: 1em;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.twitterForm input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: #DE4F4F;
  color: #FFF;
  font-size: 1em;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;;
}

li {
  position: relative;
  list-style: none;
  padding: 10px 15px;
  border-bottom: #eee solid 1px;
}
li:nth-child(odd){
  background-color: #A4C56F;
}
li:nth-child(even){
  background-color: darkseagreen;
}
li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}
.twitter{
  padding-bottom: 10px;
}
.btn {
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  width:auto;
}
.btn-submit{
  background-color: #0099CC;
}
.btn-remove {
  background-color: #f44336;
}
.btn-right {
  float:right;
}
.clearFix{
  clear:both;
}
.tweet-date{
  font-size:0.75em;
}
.gfLabel{
  display: inline-block;
  width:10%;
}
.form-elem{
  margin-bottom: 10px;
}
.google-form input[type=text], input[type=email]{
  padding:5px;
}
.btn-gf-send{
  margin-bottom: 5px;
}
.login-link-text{
  border: none;
  background-color: rgba(245, 105, 105, 1);
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-top:2px;
}
.form_entries{
  height: 60px;
  margin-bottom:2px;
}
.entry-left{
  width:80%;
}