<head>
  <!--<title>Meteor Tweet</title>-->
  <title>Meteor Form</title>
</head>

<body>
  <div class="wrapper">
    <div class="container">
      <header>
        <!--<h1 id="#header">Welcome to Meteor Tweet!</h1>-->
        <h1 id="header">Welcome to Meteor Form</h1>
      </header>
      <!--{{> hello}}-->
      <!--{{> foysal}}-->
      <!--{{> glob}}-->
      <!--{{> form}}-->
      <!--<div class="twitter">{{> twitter}}</div>
      <div class="tweets">{{> print_tweets}}</div>-->
      <div class="googleForm">{{>googleForm}}</div>
      <div>{{>loginButtons}}</div>
    </div>
  </div>
</body>

<!--<template name="hello">-->
<!--  <button>Click Me</button>-->
<!--  <p>You've pressed the button {{counter}} times.</p>-->
<!--</template>-->
<!--<template name="foysal">-->
<!--  <h3>Meow!</h3>-->
<!--  <h4>{{name}}</h4>-->
<!--  <h4>{{age}}</h4>-->
<!--  <p>{{state}}</p>-->
<!--  <h3>{{gFunc ""}}</h3>-->
<!--  <button>submit</button>-->
<!--</template>-->
<!--<template name="glob">-->
<!--  <h3>{{gFunc "the number of the beast: "}}</h3>-->
<!--</template>-->
<!--<template name="form">-->
<!--  <form id="playerForm">-->
<!--    <input type="text" id="playerName" placeholder="name"/>-->
<!--    <button type="submit">Save</button>-->
<!--  </form>-->
<!--</template>-->
  <template name="twitter">
  <form id="twitterForm" name="twitterForm" class="twitterForm">
    <input type="text" id="tweet" name="tweet" maxlength="140" placeholder="Enter your tweets!"/>
    <span class="btn-right"><input type="submit" class="btn btn-submit" value="Tweet"/></span>
  </form>
</template>
<template name="print_tweets">
 <ul>
  {{#each print_tweets}}
      <li><span class="tweet_entries"><!-- {{@index}} --> {{tweets}} <span class="tweet-date"><br>- {{date}}</span></span><span class="btn-right"><button id="delete" class="btn btn-remove">Remove</button></span><div class="clearFix"></div></li>
  {{/each}}
  </ul>
</template>
<template name="googleForm">
  <form id="google-form" class="google-form">
    <div class="form-elem">
      <label for="name" class="gfLabel">Full Name: </label>
      <input type="text" name="name" id="name"/>
    </div>
    <div class="form-elem">
      <label for="id" class="gfLabel">Your ID: </label>
      <input type="text" name="id" id="gid"/>
    </div>
    <div class="form-elem">
      <label for="email" class="gfLabel">Email: </label>
      <input type="email" name="email" id="email"/>
    </div>
    <div class="form-elem">
      <label for="city" class="gfLabel">City: </label>
      <input type="text" name="city" id="city"/>
    </div>
    <input type="submit" class="btn btn-submit btn-gf-send" value="Send"/>
  </form>
  {{#if currentUser}}
    {{#each list}}
      <li class="form_entries"><span class="entry-left">{{@index}} -> <b>Name: </b> {{name}} <b> ID: </b> {{id}} <b>  Email:</b> {{email}} <b>City:</b> {{city}} </span><button class="rElem btn btn-remove btn-right"> Remove</button> </li><div class="clearFix"></div>
    {{/each}}
  {{/if}}
</template>